html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}

.searchbox-box {
  margin-top: 55px;
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.timeline {
  height: 95%;
  min-height: 250px;
  white-space: nowrap;
  overflow: scroll;
}
.period {
  display: inline-block;
  font-weight: 800;
  box-sizing: border-box;
  white-space: nowrap;
  width: 240px;
  padding-top: 5px;
}
.date {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 5px;
  padding-top: 8px;
}

.timeline .order-item {
  background-color: #fff;
  display: inline-block;

  margin-left: 1px;
}
.timeline .order-item.spacer {
  margin-bottom: 22.5px;
  background-color: gray;
  height: 2px;
}

.timeline .order-item.order {
  box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.71);
  height: 55px;
  box-sizing: border-box;
  border-radius: 7px;
}

.order-content {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.timeline .order-item.order .order-content::before {
  content: " ";
  display: inline-block;
  height: 40px;
  margin: 5px;
  margin-left: 10px;
  margin-top: 7px;
  width: 5px;
  background-color: #48A9A6;
  border-radius: 2px;
}

.items {
  margin-top: 27px;
}

.line {
  height: 80px;
  width: 1px;
  background-color: black !important;
  z-index: -1;
}
.truck-names::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
.truck-names {
  text-align: end;
  padding-right: 15px; 
  font-weight: 600;
  font-size: 19px;
  height: inherit;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.truck-names .name {
  margin-top: 27px;
  height: 55px;
  display: inline-block;
}

.period-wrapper::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
.period-wrapper {
  height: 50px;
  min-height: 40px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  white-space: nowrap;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #4357AD;
  color: #fff;
  box-shadow: 1px 20px 15px -22px rgba(0,0,0,0.71);
}
.period-container {
  display: inline-block;
  width: 95%;
  height: inherit;
}
.items-wrapper {
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 15px;
  background-size: 240px 200px;
  background-image:
      linear-gradient(to right, #586F7C 1px, transparent 1px),
	  linear-gradient(to bottom, #586F7C 0px, transparent 0px);
	margin-left: -1px;
}
.items-wrapper .items .spacer {
  width: 60px;
  display: inline-block;
}

.diagram-container {
  height: 100%;
  display: flex;
  height: 89%
}

.truck-names-wrapper {
  display: inline-block;
  width: 9%;
  height: inherit
}

.searchbox-box label {
  margin-right: 9px;
  font-weight: 600;
  white-space: nowrap;
  margin: 14px;
}
.searchbox-box input[type=text] {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  /* box-sizing: border-box; */
}